fastapi
uvicorn
python-multipart
numpy
opencv-python-headless
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics
supervision
git+https://github.com/roboflow/sports.git
tqdm
huggingface_hub
